.accessory-btn {
  float: right;
  margin-right: -0.6em;
}

.order-accessory-btn {
  height: 3.5em !important;
  width: 12em;
  font-size: 1em !important;
  font-weight: bolder !important;
}

.manage-accessory-btn {
  height: 3.5em !important;
  width: 13em;
  font-size: 1em !important;
  font-weight: bolder !important;
}

.return-home {
  height: 3.5em !important;
  width: 12em;
  font-size: 1em !important;
  font-weight: bolder !important;
  margin-left: 1px;
}

.user-confirmation-yes {
  height: 3.5em !important;
  width: 12em;
  font-size: 1em !important;
  font-weight: bolder !important;
  margin: 1em 0em 0em 0em;
  float: left !important;
}

.user-confirmation-no {
  height: 3.5em !important;
  width: 12em;
  float: left !important;
  font-size: 1em !important;
  font-weight: bolder !important;
  margin: 1em 3em 0em 0em;
}


