@import "../node_modules/bootswatch/dist/litera/_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/litera/_bootswatch.scss";
body {
  margin: 0;
  font-family: 'Arial Rounded MT Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
