.wish-container{
  display: flex;
  width: 100%;
  .information{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    .icons{
      width: 33%;
      display: flex;
      justify-content: center;
      img{
        max-height: 100px;
      }
    }
  }
  .vertical-line{
    border-right: 1.5px solid rgba(1,1,1,0.1);
    height: 80%;
  }
  .wish{
    height: 100%;
    width: 50%;
  }
  .child{
    padding: 15px;
    .child-info-container{
      margin-left: 25px;
      width: 100%;
      display: flex;
      font-size: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 100%;
      color: #222;
      font-size: 1.5em;
      .child-details{
        font-size: .75em;
      }
      h3{
        padding: 0;
        margin: 0;
  
        display: inline-block;
      }
    }
    .profile-picture{
      img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
    }
  }
}