.wishes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  .calender-image{
    background-color: #ebebeb;
    border: 1px solid rgba(1,1,1,0.1);
    position: relative;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 100%;
    .calendar{
      height: 50px;
    }
    .date {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }
  .wishes-group-container{
    overflow:scroll;
    width: 90%;
    .list-group-item-container{
      width: 100%;
      padding: 0;
    }
  }
  .wish-item-wrapper{
    display: flex;
    background-color: #f7f7f7;
    height: 100%;
    margin-top: 3px;
  }
  .magenta{
    color:  #ba008b;
  }
  .blue{
    color: #0870b8;
  }
}