.container{

 border: 1px red solid;
    display: flex;

    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;



    margin-right: auto; margin-left: auto;
}